body {
  margin: 0 auto;
  font-size: 22px;
}
.navbar {
  background-color: #07263b;
  height: 70px;
  color: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn {
  border-radius: 15px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 150px;
}
#body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-info {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.par {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #07263b;
  color: aliceblue;
}
.left,
.center,
.right {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.img1 {
  width: 200px;
}
.img2 {
  margin-top: 20px;
  width: 195px;
}
.back {
  margin: 30px;
}

.category {
  height: 70px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.whatches {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
